<div class="overlay">
    <div class="message-box">
        <h2>🚧 Work in progress</h2>
        <p>
            Need your help to reach there.<br />
            Please drop your email to connect and click
            <strong>"Join the Waitlist"</strong>.
        </p>

        <form (submit)="onSubmit()" class="email-form">
            <input type="email" placeholder="Enter your email" name="email" required />
            <button class=" rounded-lg  text-slate-900 bg-red-400 w-[150px] h-[40px]">Join Waitlist</button>
        </form>
        <div class="flex gap-3 mt-3">
            <a routerLink="/home" class="inline-flex items-center px-4 py-2 rounded-lg bg-slate-900 text-white mt-3">Go
                Home</a>
            <a class="inline-flex items-center px-4 mt-3 h-[40px] rounded-lg bg-green-500 text-white" href="https://docs.google.com/forms/d/e/1FAIpQLSd8GjWpa56T-ozml2f4o0viI1F_yTjTUcLJ-VlbIqMbzh9h6Q/viewform" target="_blank">Access Survey</a>
        </div>

    </div>
</div>