/* Scoped styles for home if needed later */
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    // Optional overlay effect
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2); // subtle dark overlay
    }
  }


  .how-it-works {
    text-align: center;   
    padding: 80px 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .how-it-works h2 {
    font-size: 2rem;
    color: #2e2e2e;
    margin-bottom: 50px;
    font-weight: 600;
  }
  
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .step {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    width: 220px;
    transition: transform 0.3s ease;
  }
  
  .step:hover {
    transform: translateY(-5px);
  }
  
  .icon {
    font-size: 2rem;
    margin-bottom: 15px;
    background: linear-gradient(135deg, #6c63ff, #6ec5b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .step h3 {
    font-size: 1.1rem;
    color: #2e2e2e;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .step p {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .section-clipped-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
   
  }

  .section-boxed{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  }

 .section-boxed-two{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }


 
  

 
  
  